<div class="container-fluid background-light p-3">
    <div class="row">
        <div class="col">
            <h2 class="text-center">La Région<br/>Auvergne-Rhône-Alpes</h2>
        </div>
        <div class="col">
            <h2 class="text-small">Lyon</h2>
            <address>
                <div>101 cours Charlemagne<br/>
                    CS 20033<br/>
                    69269 LYON CEDEX 02<br/>
                    France
                </div>
                <div><a href="tel:0033426734000">+33 (0)4 26 73 40 00</a>
                </div>
            </address>
        </div>
    </div>
    <div class="row text-center">
        <div class="col"><a [routerLink]="['/mentions-legales']">Mentions légales</a></div>
        <div class="col"><a [routerLink]="['/donnees-personnelles']">Données personnelles</a></div>
        <div class="col"><a [routerLink]="['/accessibilite']">Accessibilité</a></div>
        <div class="col"><a [routerLink]="['/presse']">Presse</a></div>
        <div class="col"><a [routerLink]="['/marches-publics']">Marchés publics</a></div>
        <div class="col"><a [routerLink]="['/contact']">Contact</a></div>
    </div>
    <div class="row pt-3">
        <p class="text-center"><a [routerLink]="['/gestion-cookies']">Gestion des cookies</a></p>
    </div>
</div>