.background-light {
    background-color: var(--main-color-light);
    color: white
}

h2 {
    color: white;
}

.text-small{
    font-size: medium;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}