.border-card {
    border: 2px solid #00467c !important;
}

/* Gradation par les étoiles */

.stars {
    font-size: 24px;
    cursor: pointer;
  }
  
  .blue-star {
    color: var(--main-color);
  }
  
  .gray-star {
    color: gray;
  }