/* Gradation par les étoiles */
.stars {
    font-size: 48px;
    cursor: pointer;
  }
  
.blue-star {
    color: var(--main-color);
  }
  
.gray-star {
    color: gray;
  }
  
/* Cartouches */
.border-custom {
    border: solid 0.15rem var(--main-color-light);
}

.subtitle {
    font-size: 1.2rem;
}

/* Formulaire */
.border-form {
    border: solid 0.5rem var(--main-color);
}