<div class="container-fluid">
    <h1 class="text-center">{{ artisan?.name }}</h1>
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <app-note-stars></app-note-stars>
                <div class="row">
                    <div class="col-lg-3 border-custom">
                        <h3>{{ artisan?.speciality }}</h3>
                    </div>
                    <div class="col-lg-3 border-custom">
                        <h3>{{ artisan?.location }}</h3>
                    </div>
                </div>
                <h3>Le professionnel en quelques mots</h3>
                <p>{{ artisan?.about }}</p>
            </div>
        </div>
    </div>
</div>