<div class="container-fluid">
    <h1 class="mb-5">{{ artisan?.name }}</h1>
    <div class="row p-2">
        <div class="col-lg-6">
<!-- Gradation par les étoiles -->
            <div class="row">
              <div class="d-flex align-items-center justify-content-center stars mb-2">
                <span
                  *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                  [ngClass]="{'blue-star': i + 1 <= +artisan.note, 'gray-star': i + 1 > +artisan.note}">
                  ★
                </span>
              </div>
            </div>
<!-- Cartouches -->
            <div class="row justify-content-around mb-4">
              <div class="col-lg-3 border-custom d-flex align-items-center justify-content-center">
                <p class="text-center p-1 subtitle">{{ artisan?.specialty }}</p>
              </div>
              <div class="col-lg-3 border-custom d-flex align-items-center justify-content-center">
                <p class="text-center p-1 subtitle">{{ artisan?.location }}</p>
              </div>
            </div>
<!-- Présentation -->
            <h2>Le professionnel en quelques mots</h2>
              <p>{{ artisan?.about }}</p>
              <p class="text-center">{{ artisan?.website }}</p>
        </div>
<!-- Formulaire -->
        <div class="col-lg-6">
            <form class="border-form p-3" (submit)="sendEmail($event)">
                <h2 class="text-center mb-2">Formulaire de contact</h2>
                <div *ngIf="successMessage" class="alert alert-success">
                  {{ successMessage }}
                </div>
                <div class="mb-3">
                    <label for="inputName" class="form-label">Nom :</label>
                    <input type="text" class="form-control" name="user_name" required>
                  </div>
                <div class="mb-3">
                  <label for="inputEmail" class="form-label">E-mail :</label>
                  <input type="email" class="form-control" name="user_email" required>
                </div>
                <div class="mb-3">
                    <label for="textarea" class="form-label">Votre message à l'artisan :</label>
                    <textarea class="form-control" name="message" rows="3" required></textarea>
                  </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                  <label class="form-check-label" for="exampleCheck1">En cochant cette case, vous acceptez que l'artisan/entreprise utilise vos données afin de pouvoir vous répondre.</label>
                </div>
                <button type="submit" class="btn btn-classic">Envoyer</button>
              </form>
        </div>
    </div>
</div>