<div class="container-fluid">
    <h1>{{ artisan?.name }}</h1>
    <div class="row">
        <div class="col-lg-7">
            <div class="row justify-content-center">
                <div class="stars">
                    <span
                      *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
                      [ngClass]="{'blue-star': i + 1 <= +artisan.note, 'gray-star': i + 1 > +artisan.note}">
                      ★
                    </span>
                  </div>
                <div class="row justify-content-around mb-4">
                    <div class="col-lg-3 border-custom d-flex align-items-center justify-content-center">
                        <p class="text-center p-1 subtitle">{{ artisan?.specialty }}</p>
                    </div>
                    <div class="col-lg-3 border-custom d-flex align-items-center justify-content-center">
                        <p class="text-center p-1 subtitle">{{ artisan?.location }}</p>
                    </div>
                </div>
                <h2>Le professionnel en quelques mots</h2>
                <p>{{ artisan?.about }}</p>
                <p class="text-center">{{ artisan?.website }}</p>
            </div>
        </div>
        <div class="col-lg-5">
            Formulaire de contact!!!
        </div>
    </div>
</div>